/***importing google fonts - iner**/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
.swiper{
    width:100%;
    position: relative;
}
.swiper-slide{
    text-align: center;
    height: 500px;
}
.swiper-slide img{
    width: 200px;
    height:200px ;
    display: block;
    object-fit: cover;
}






/* Position inside slider */
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}